body {
  margin:0;
  padding:0;
  background: url("images/background.jpg") no-repeat center fixed; 
  -webkit-background-size: cover;
  background-size: cover;
}

.title{
    margin-top: 3%;
    text-align: center;
}

.main{
    text-align: center;
}

.onglets{
    margin-left: 7%;
}

.onglet1{
    margin-left: 2%;
}