body {
  background: url("images/background.png") no-repeat center fixed; 
}

.title{
    text-align: center;
}

.reseaux{
    width: 10%;
    height: 14%;
    position: absolute;
    
}

.onglets{
    margin-top: 2%;
    margin-left: 15%;  
}

.onglet1{
    width: 6%;
    height: 2%;
    margin-left: 4%;
}

.onglet2{
    width: 9%;
    height: 2%;
    margin-left: 5%;
}

.onglet3{
    width: 7%;
    height: 2%;
    margin-left: 5%;
   
}

.onglet4{
    width: 8%;
    height: 2%;
    margin-left: 5%;
}

.onglet5{
    width: 6%;
    height: 2%;
    margin-left: 5%;
}

.onglet6{
    width: 9%;
    height: 2%;
    margin-left: 5%;
}

.main{

    margin-top: 6%;
    text-align: center;
    margin-left: 20%;
    border: 1px, white;
    font-size: x-large;
    width:62%;
    color: black;
}

.background {
    background-color: rgba(50, 50, 50, 0.5);
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.strip {
    text-align: center;
    
